{% extends "base.html" %}
{% block ajax %}
<script type="text/javascript">
function ajaxsend(){
    $('#error').remove(); 
    $.ajax({
        url:'/feedback/ajax/',
        type: 'POST',
        dataType:'xmlDoc',
        data:{name:$("#id_name").val(),content:$("#id_content").val(),email:$("#id_email").val(),},
        beforeSend:function(){$('.messages h3').after('<div id="sending"><p>正在发送……</p></div>');},
        success: function(xmlDoc){
        $('.messages h3').after(xmlDoc);
        $('.message:first').animate({ height: 'show' });
        $('#sending').remove()
        },
        });
        return false;};
$(document).ready(function(){
    $("#feedback").submit(ajaxsend);
     });
</script>
{% endblock %}
{%block page%}
<div id="page">
    {% include "form.html" %}
    {% include "errors.html" %}
     <div class="cap"></div>
<div class="messages">
     <h3>大家的留言</h3>
{% for message in messages %}
<div class="message">
    <div class="info">
        <div class="header">
        <p class="name">{{message.customer.name}} 说: </p>
        <span class="time">{{message.date|date:"Y.n.j H:i"}}</span>
        </div>
        <div class="counter">
             {%if message.at.date%}<span class="at"> 在<a href='{{message.at.url}}'>{{message.at.date|date:"y年n月j日"}}的日志</a>中</span>{%endif%} 
        </div>
    </div>
    
    <div class="say">
    <p>{{message.content|linebreaksbr}}</p>
    
    </div>
</div>
{% endfor %}
</div>

    <div class="footer"></div>
</div>
{%endblock%}
