{% extends "base.html" %}
{%block page%}
<div id="page">
    <div class="cap"></div>
    <script type="text/javascript">
  $('#about').addClass('select');
    </script>

<div class="messages">
    <h3>关于我</h3>
    <div class="message">
    
    <div class="say">
        <h4>简单的自我介绍</h4>
        <p>我是makestory，这个blog的博主。
        <br/>我从2008年开始使用这个ID，但由于“makestory.com”的域名被别人注册了，
        <br/>就选择“Whhhy”做网站的名字，意思呢？就是“Why”啦，"多想为什么"。
        </p>
        <br/>
        <h4>你还可以在这些地方找到我</h4>
        <a href="http://twitter.com/makestory"><img src="/data/twitter.png"></a>
        <a href="http://www.douban.com/people/3762515/"><img src="/data/douban.png"></a>
        <a href="http://feeds.feedburner.com/Whhhy"><img src="/data/rss.png"/></a>
    </div>
    </div>
</div>
    
<div class="messages">
    <h3>关于网站</h3>
    <div class="message">
    <div class="say">
        <h4>网站密技</h4>
        <p>点击左上角的logo会帮你回到主页。
        <br/>多点击一下导航的”日志“会帮你跳到最新的一篇日志。
        <br/>多点击一下“月份”会帮你跳到这个月所有日志的列表。
        </p>
        <br/>
        <h4>浏览器建议</h4>
        <p> 建议你使用这些浏览器:
        <a href="http://www.mozillaonline.com/"><img src="/data/firefox.png"></a>
        <a href="http://www.operachina.com/"><img src="/data/opera.png"></a>
        <a href="http://www.apple.com.cn/safari/"><img src="/data/safari.png"></a>
        <a href="http://www.google.com/chrome/"><img src="/data/chrome.png"></a>
        <br/>我不保证在IE(或者基于IE的)浏览器下网站能够正常显示。
        </p>
        <br/>
        <h4>使用技术</h4>
        <a href="http://www.python.org"><img src="/data/python.gif"></a>
        <a href="http://www.djangoproject.com"><img src="/data/django.gif"></a>
        <a href="http://www.jquery.com"><img src="/data/jquery.gif"></a>
        
    </div>
    </div>
</div>
    
    
<div class="footer"></div>
</div>

{%endblock%}
